<div class="wrapper">
    <div class="header">
        <div class="chapter">
            <p>
                New designs<br>
                New inspirations
            </p>
        </div>
        <div class="info">
            <p>
                Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus semper<br> habitant arcu eget. Et integer facilisi eget diam.
            </p>
        </div>
        <div class="actions">
            <button (click)="singIn()" pButton pRipple type="button" label="Sing In" class="p-button-rounded p-button-secondary"></button>
            <button (click)="singUp()" pButton pRipple type="button" label="Sing Up" class="p-button-outlined p-button-rounded p-button-secondary"></button>
        </div>
    </div>
    <div class="image">
        <img class="img1" src="assets/images/Rectangle1.png">
        <img class="img2" src="assets/images/Rectangle2.png">
    </div>
    <div class="title">
        <div>
            <i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
            <h1>Title 1</h1>
            <p>Lorem impsum dolor</p>
        </div>
        <div>
            <i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
            <h1>Title 2</h1>
            <p>Lorem impsum dolor</p>
        </div>
        <div>
            <i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
            <h1>Title 3</h1>
            <p>Lorem impsum dolor</p>
        </div>
    </div>
</div>
